nav aria-label="breadcrumb"
  ol.breadcrumb.mb-0
    - if controller?('dashboard') && action?('home')
      li.breadcrumb-item.active aria-current="page" Dashboard
    - else
      li.breadcrumb-item = link_to 'Dashboard', root_path
    - @breadcrumbs.each do |breadcrumb|
      - if breadcrumb[:path].nil?
        li.breadcrumb-item.active aria-current="page" = breadcrumb[:label]
      - else
        li.breadcrumb-item = link_to breadcrumb[:label], breadcrumb[:path]