#navbar.navbar.navbar-expand-sm.navbar-main.navbar-dark.bg-dark.pr-0 data-primary=""
  .container-fluid.p-0
    button.navbar-toggler.navbar-toggler-right.d-block.d-md-none data-toggle="sidebar" type="button"
      span.navbar-toggler-icon
    = link_to root_path, class: 'navbar-brand'
      = image_tag('stack-logo-white.svg', class: 'navbar-brand-icon', width: 22, alt: 'Stack')
      span Maximus Web
    form.search-form.d-none.d-sm-flex.flex
      button.btn type="submit" role="button"
        i.material-icons search
      input.form-control type="text" placeholder="Search"
    ul.nav.navbar-nav.ml-auto.d-none.d-md-flex
      li.nav-item
        a.nav-link href="#"
          i.material-icons help_outline
          | Get Help
      li.nav-item.mr-3
        a.btn.btn-outline-warning href="#"
          i.material-icons star
          | PRO
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle href="#notifications_menu" data-toggle="dropdown" data-caret="false"
          i.material-icons.nav-icon.navbar-notifications-indicator notifications
        #notifications_menu.dropdown-menu.dropdown-menu-right.navbar-notifications-menu
          .dropdown-item.d-flex.align-items-center.py-2
            span.flex.navbar-notifications-menu__title.m-0 Notifications
            a.text-muted href="javascript:void(0)"
              small Clear all
          .navbar-notifications-menu__content data-simplebar=""
            .py-2
              .dropdown-item.d-flex
                .mr-3
                  .avatar.avatar-sm style="width: 32px; height: 32px;"
                    = image_tag('256_daniel-gaffey-1060698-unsplash.jpg', alt: "Avatar", class: "avatar-img rounded-circle", width: 32)
                .flex
                  | A.Demian left a comment on Stack
                  br
                  small.text-muted 1 minute ago
              .dropdown-item.d-flex
                .mr-3
                  .avatar.avatar-sm style="width: 32px; height: 32px;"
                    = image_tag('256_daniel-gaffey-1060698-unsplash.jpg', alt: "Avatar", class: "avatar-img rounded-circle", width: 32)
                .flex
                  | New user Peter Parker signed up
                  br
                  small.text-muted 1 hour ago

          a.dropdown-item.text-center.navbar-notifications-menu__footer href="javascript:void(0);" View All
    ul.nav.navbar-nav.d-none.d-sm-flex.border-left.navbar-height.align-items-center
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle data-caret="false" data-toggle="dropdown" href="#account_menu"
          = image_tag('demi.png', class:"rounded-circle", width:"32", alt: "Frontted")
          span.ml-1.d-flex-inline
            span.text-light Test
            // = current_user.username
        #account_menu.dropdown-menu.dropdown-menu-right
          .dropdown-item-text.dropdown-item-text--lh
            div
              strong Adrian Demian
            div example@gmail.com
              // = current_user.email
          .dropdown-divider
          a.dropdown-item.active href="index.html"  Dashboard
          a.dropdown-item href="profile.html"  My profile
          a.dropdown-item href="edit-account.html"  Edit account
          .dropdown-divider
          a.dropdown-item Logout
          // = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'





