#default-drawer.mdk-drawer.js-mdk-drawer data-align="start"
  .mdk-drawer__content
    .sidebar.sidebar-light.sidebar-left.simplebar data-simplebar=""
      .sidebar-heading.sidebar-m-t Menu
      ul.sidebar-menu
        li.sidebar-menu-item class="#{'active' if controller?('dashboard')}"
          = link_to root_path, class: 'sidebar-menu-button'
            i.sidebar-menu-icon.sidebar-menu-icon--left.material-icons dvr
            span.sidebar-menu-text Dashboard
        li.sidebar-menu-item
          a.sidebar-menu-button data-toggle="collapse" href="#apps_menu"
            i.sidebar-menu-icon.sidebar-menu-icon--left.material-icons slideshow
            span.sidebar-menu-text Apps
            span.ml-auto.sidebar-menu-toggle-icon
          ul#apps_menu.sidebar-submenu.collapse
            li.sidebar-menu-item
              a.sidebar-menu-button href="app-trello.html"
                span.sidebar-menu-text Trello
            li.sidebar-menu-item
              a.sidebar-menu-button href="app-projects.html"
                span.sidebar-menu-text Projects
            li.sidebar-menu-item
              a.sidebar-menu-button href="app-fullcalendar.html"
                span.sidebar-menu-text Event Calendar
            li.sidebar-menu-item
              a.sidebar-menu-button href="app-chat.html"
                span.sidebar-menu-text Chat
            li.sidebar-menu-item
              a.sidebar-menu-button href="app-email.html"
                span.sidebar-menu-text Email
                span.badge.badge-primary.ml-auto NEW
            li.sidebar-menu-item
              a.sidebar-menu-button data-toggle="collapse" href="#course_menu"
                span.sidebar-menu-text Education
                span.ml-auto.d-flex.align-items-center
                  span.sidebar-menu-toggle-icon
              ul#course_menu.sidebar-submenu.collapse
                li.sidebar-menu-item
                  a.sidebar-menu-button href="app-course.html"
                    span.sidebar-menu-text Course
                li.sidebar-menu-item
                  a.sidebar-menu-button href="app-lesson.html"
                    span.sidebar-menu-text Lesson
        li.sidebar-menu-item class="#{'open' if controller?('users')}"
          a.sidebar-menu-button data-toggle="collapse" href="#settings_menu"
            i.sidebar-menu-icon.sidebar-menu-icon--left.material-icons settings
            span.sidebar-menu-text Settings
            span.ml-auto.sidebar-menu-toggle-icon
          ul#settings_menu.sidebar-submenu.collapse class="#{'show' if controller?('users')}"
            li.sidebar-menu-item class="#{'active' if controller?('users')}"
              a.sidebar-menu-button
              // = link_to users_path, class: "sidebar-menu-button"
                span.sidebar-menu-text Users
      .sidebar-heading UI Components
      .sidebar-block.p-0
