doctype html
html dir="ltr" lang="en"
  head
    title Stack Rails Base - Rails 5 Free Admin Theme
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    meta name="description" content="Bootstrap Admin App + Ruby on Rails"
    meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  body class="#{@body_class || 'layout-default'}"
    .mdk-header-layout.js-mdk-header-layout
      /!-- =============== Header::begin ===============
      #header.mdk-header.js-mdk-header.m-0 data-fixed=""
        .mdk-header__content
          = render 'shared/navbar'
      /!-- =============== Header::end ===============
      /!-- =============== Header Layout Content::begin ===============
      .mdk-header-layout__content
        .mdk-drawer-layout.js-mdk-drawer-layout data-push="" data-responsive-width="992px"
          .mdk-drawer-layout__content.page
            = yield
          = render 'shared/sidebar'
      /!-- =============== Header Layout Content::end ===============
    = content_for :footer
    = javascript_include_tag 'core-scripts', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = content_for :footer_scripts